
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }


  

  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  

  img {
    margin: 10px auto;
    display: block;
  }
  

  button {
    margin: 10px auto;
    margin-top: 10px;
    padding: 10px 20px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
  }
  


  .favoriteThing {
    text-align: center;
  }
  

  
  .favoriteSong {
    text-align: center;
    margin-bottom: 20px;
  }